{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Drink Up!</h1>
    <a href="/logout/">logout</a>
    <h3>Welcome, {{ user.username }}</h3>
    {% if venues %}
        <h4>Here are your registered venues:</h4>
        {% for venue in venues %}
            {{ venue.name }}
            <ul>
                <li>Hours: {{ venue.hours }}</li>
                <li>Address: {{ venue.address }}</li>
                <li>Phone: {{ venue.phone }}</li>
                <li>Service Type: {{ venue.service_type }}</li>
            {% for menu in menus %}
                {% if venue == menu.venue %}
                    {{ menu.name }}
                    <ul>
                        <li>Edit Menu Items: <a href="menu/{{ menu.id }}/">Link</a></li>
                        <li>Description: {{ menu.description }}</li></li>
                    </ul>
                {% endif %}
            {% endfor %}

            <a href="{% url 'menu_add' user.id venue.id %}">Add a Menu</a>
            </ul>

        {% endfor %}

    {% else %}
        <h4>You haven't registered any venues</h4>
    {% endif %}
    <a href="{% url 'venue_add' user.id %}">Add a Venue</a>
{% endblock %}