{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

    <div>
    <h1 style="display: inline-block">Welcome, {{ user.username }}</h1>
    <a style="display: inline-block; padding-left: 1%" href="edit-user/"> edit</a>
    </div>

    {% if venues %}
        <h3>Registered Venues:</h3>
        {% for venue in venues %}
            <div class="panel panel-default">
            <div class="panel-heading">

                <div style="display: inline-block">
        <h3 class="panel-title" style="font-weight: bold; font-size: xx-large" >{{ venue.name }} </h3>
                <a  href="{{ venue.id }}/edit-venue/">edit</a>
                    </div>

                <a style="float: right; vertical-align: bottom;" href="{% url 'summary_report' venue.id %}">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Reports
                    </button>
                 </a>
                <a style="float: right; vertical-align: bottom;" href="test/{{ venue.id }}">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Bartender Interface
                    </button>
                 </a>

            </div>
            <div class="panel-body">
            <ul>
                <h4>Hours: {{ venue.hours }}</h4>
                <h4>Address: {{ venue.address }}</h4>
                <h4>Phone: {{ venue.phone }}</h4>
                <h4>Service Type: {{ venue.service_type }}</h4>


        <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseemp{{ venue.id }}">Employees</a>
        </h4>
      </div>
      <div id="collapseemp{{ venue.id }}" class="panel-collapse collapse in">
        <div class="panel-body">


    {% if employees %}
      <!-- Table -->
      <table class="table">
        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Pin
                            </th>
                        </tr>
          <tr>
          {% for employee in employees %}
            {% if venue == employee.venue %}
              <td>{{ employee.name }} <a href="{{ venue.id }}/employee/{{ employee.id }}/edit-employee/"><small>edit</small></a> </td>
              <td>{{ employee.pin }} </td>
          </tr>
          {% endif %}
                {% endfor %}
      </table>
        {% endif %}


        <a href="{% url 'employee_add' venue.id %}">
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Employee
            </button>
        </a>
        </div>
      </div>


<div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapsemenu{{ venue.id }}">Menus</a>
        </h4>
      </div>
      <div id="collapsemenu{{ venue.id }}" class="panel-collapse collapse in">
        <div class="panel-body">

        {% for menu in menus %}
                {% if venue == menu.venue %}

                        <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h3>{{ menu.name }}</h3><small><a href="menu/{{ menu.id }}/"> edit</a></small></div>
                        <div class="panel-body">
                        <p>{{ menu.description }}</p>
                        </div>
                        <!-- Table -->
                        <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>Price</th>
                        </tr>
                            <tr>
                                 {% for item in items %}
                                    {% if item.menu == menu %}
                                <td> {{ item.name }}</td>
                                <td>
                                 {% if item.category == 'beer' %}Beer{% endif %}
                                      {% if item.category == 'wine' %}Wine{% endif %}
                                      {% if item.category == 'mixed' %}Mixed Drink{% endif %}
                                      {% if item.category == 'liquor' %}Hard Liquor{% endif %}
                                      {% if item.category == 'soft' %}Soft Drink{% endif %}
                                      {% if item.category == 'other' %}Other{% endif %}
                                </td>
                                <td>${{ item.price }}</td>
                            </tr>
                                     {% endif %}
                                 {% endfor %}
                        </table>
                        </div>
                    <br>

            {% endif %}
            {% endfor %}

                <a href="{% url 'menu_add' venue.id %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Menu
                </button>
                </a>
            </ul>
                </ul>
            </ul>
            </div>
        </div>
        {% endfor %}


    {% else %}
        <h4>You haven't registered any venues</h4>
    {% endif %}

    <a href="{% url 'venue_add' %}">
    <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
 Add a Venue
</button>
   </a>
{% endblock %}