{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Drink Up!</h1>
    <a href="/logout/">logout</a>
    <h3>Welcome, {{ user.username }}</h3>
    <h4>Here are your registered businesses:</h4>
    {{ business.venue_name }}
        <ul>
            <li>Hours: {{ business.hours }}</li>
            <li>Address: {{ business.address }}</li>
            <li>Phone: {{ business.phone }}</li>
            <li>Service Type: {{ business.service_type }}</li>
        </ul>
{% endblock %}