{% extends "base.html" %}
{% block bodyattributes %}onload="doOnce()"{% endblock %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

function doOnce(){
$.ajax({
    url : '/api/menu_listoff/' + {{menu.id}} + '/?format=json',
    dataType : 'json',
    type : 'GET',
    success: function(data)
    {
        var text = ""; 
        var i;
        var items = data.items;
        
        if (items.length == 0){

        }else{
            text += "<div class=\"panel-heading\"><h4>Menu: {{ menu.name }}</h4></div>";
            text += "<div class=\"panel-body\"><p>{{ menu.description }}</p></div>";
            text += "<table class=\"table\"><tr><th>Name</th><th>Category</th><th>Price</th><th></th></tr>";
            for (i = 0; i < items.length; i++) {
                
                text += "<tr>";
                if(items[i].category == "beer"){
                    var category = "Beer";
                } else if(items[i].category == "wine"){
                    var category = "Wine";
                } else if(items[i].category == "mixed"){
                    var category = "Mixed";
                } else if(items[i].category == "liquor"){
                    var category = "Hard Liquor";
                } else if(items[i].category == "soft"){
                    var category = "Soft Drink";
                } else {
                    var category = "Other";
                }
                items[i].price /= 100;
                text += "<td>" + items[i].name + "</td>" + "<td>" + category + "</td>";
                /* number formatting function by VisioN of stackoverflow http://stackoverflow.com/a/14428340 */
                text += "<td>$" + items[i].price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + "<td>";
                text += "<a href=\"edit-item/" + items[i].id + "\">edit</a>";
                text += "<button type=\"button\" class=\"pull-right btn btn-danger btn-xs \"";
                text += "onclick=\"deleteItem("+ items[i].id + ")\">  <span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span></button></td></tr>";
            }
            text += "</table>";
        }
        document.getElementById("demo").innerHTML = text;

        console.log(items);
    }
});
}

setInterval(function() {
    /* AJAX call here. */
    doOnce();

}, 5000);

function deleteItem(item_id) {
    var confirmed = confirm("Are you sure you want to delete this drink?");
    var html = "";
    var classes = "";
    var messageDiv = document.getElementById('messages');
    document.getElementById('django-messages').style = "display: none;";

    if (confirmed) {
        $.ajax({
            url: '/api/' + {{venue.id}} + '/menu/remove_item/' + item_id,
            type: 'GET',
            success: function()
            {
                messageDiv.innerHTML = "Item successfully deleted";
                messageDiv.className = "alert alert-success";
                console.log("deleted item " + item_id);
                doOnce();
            },
            error: function() {
                messageDiv.innerHTML = "something went wrong when deleting the item";
                messageDiv.className = "alert alert-danger";
            }
        });
    }
}

</script>

    <!------ Begin html content ---->
    <div id="messages" role="alert"></div>
    {% if items %}
        <h4>Here are your menu items:</h4>
        <div class="panel panel-default" id="demo">
        Loading...</div>

    {% else %}
        <h4>This menu doesn't have any items.</h4>
    {% endif %}

    <h1>Add an item</h1>
    <form action="{{ next }}" method="post">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
             <button type="submit" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add
            </button>
        </div>
    </form>
{% endblock %}