{% extends "base.html" %}
{% load bootstrap %}
{% block body %}
    <h1>Login</h1>
    {% if messages %}
        <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}
<div class="col-lg-5">
    <form action="{{ next }}" method="post">
        <div>
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-success" aria-label="Left Align">
        Log In
        </button>
        </div>
    </form>
</div>
{% endblock %}