{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Drink Up!</h1>
    <a href="/logout/">logout</a>
    {% if items %}
        <h4>Here are your menu items:</h4>
            <ul>
            {% for item in items %}
                {% if item.menu == menu %}
                    {{ item.name }}
                    <ul>
                        <li>Edit: <a href="{% url 'item_edit' user.id menu.id item.id %}">test</a></li>
                        <li>Category: {% if item.category == 'beer' %}Beer{% endif %}
                                      {% if item.category == 'wine' %}Wine{% endif %}
                                      {% if item.category == 'mixed' %}Mixed Drink{% endif %}
                                      {% if item.category == 'liquor' %}Hard Liquor{% endif %}
                                      {% if item.category == 'soft' %}Soft Drink{% endif %}
                                      {% if item.category == 'other' %}Other{% endif %}</li>
                        <li>Price: ${{ item.price }}</li>
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>

    {% else %}
        <h4>This menu doesn't have any items.</h4>
    {% endif %}
    <a href="{% url 'item_add' user.id menu.id %}">Add an item</a>
    <a href="{% url 'home' user.id %}">Back</a>
{% endblock %}