{% extends "reports_base.html" %}
{% block title %}Orders{% endblock %}
{% block body2 %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3"><h1>Order Reports</h1></div>
            <div class="col-lg-6" >
                <form class="form-inline" style="display: table-cell; vertical-align: bottom;">
                <label>Choose a chart to display: </label>
                    <select class="div-toggle c-select" data-target=".chart">
                    <option value="frequency" data-show=".frequency">Order Frequency</option>
                    <option value="time" data-show=".time">Time by Employee</option>
                </select>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 chart">
                    <div class="frequency hide" id="order-freq-chart" style="width: 80%;"></div>
                    <div class="time hide" id="emp-time-chart" style="width: 80%;"></div>
            </div>
        </div>
    </div>
    <table id="order-table"
           class="table"
           data-graph-container-before="1"
           data-graph-type="line"
           data-graph-datalabels-enabled="1"
           data-graph-xaxis-type="datetime">
        <caption style="display:none;">Order History</caption>
        <thead>
            <tr>
                <th>Order #</th>
                <th>Date</th>
                <th>Status</th>
                <th>Employee</th>
                <th>Number of items</th>
                <th>Total</th>
                <th data-graph-skip="1">Paid</th>
            </tr>
        </thead>
        <tbody id="order-table-body">
        {% for order in orders %}

            <tr id="order_{{ order.id }}">
                <td style="display:none;" id="hour_{{ order.id }}" class="hour">{{ order.time_created|date:"H" }}</td>
                <td style="display:none;" class="date">{{ order.time_created|date:"Y,m,d,H,i" }}</td>
                <td style="display:none;" id="delta_{{ order.id }}" class="delta">
                    {% if order.get_time_to_complete %}
                        {{ order.get_time_to_complete }}</td>
                    {% else %}
                        -1
                    {% endif %}

                <td id="id_{{ order.id }}" class="id"><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
                <td id="time_{{ order.id }}" class="datetime">{{ order.time_created }}</td>
                <td id="is_deliv_{{ order.id }}" class="is_deliv">
                    {% if order.is_delivered %}
                        Delivered
                    {% else %}
                        Pending
                    {% endif %}
                </td>
                <td id="emp_name_{{ order.id }}" class="emp_name">{{ order.employee.name }}</td>
                <td id="num_items_{{ order.id }}" class="num_items">{{ order.get_num_items }}</td>
                <td id="total_{{ order.id }}" class="total">{{ order.get_total_formatted }}</td>
                <td id="paid_{{ order.id }}" class="paid">{% if order.is_paid %}Yes{% else %}No{% endif %}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}

    <!-- moment.js for datetime formatting...just did this for testing. Are you still using it? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('select.div-toggle').change(function () {
                var target = $(this).data('target');
                $(target).children().addClass('hide');
                var show = $("option:selected", this).data('show');
                $(show).removeClass('hide');
            });
        });
    </script>

    <script type="text/javascript">

        /* gets all orders and figures out the frequency of each, incrementing the index of
           an array. It returns this array for use in the highcharts graph */
        function getTableOrderHours() {
            var freq = new Array(24).fill(0);
            //console.log(freq);
            var rows = document.getElementById('order-table-body').children;
            //console.log("number of rows: " + rows.length);
            // loop through all tr elements and get the hidden field, which is the hour of the day
            for (i=0; i<rows.length; i++) {
                var hour = parseInt(rows[i].children[0].innerHTML);  // get the hour of the order
                //console.log(hour);
                freq[hour] += 1;
            }
            return freq;
        }

        function getTableRowData(rowId) {
            var row = document.getElementById('order_' + rowId);
            data = {};
            for (i=0; i<row.children.length; i++) {
                console.log(row.children[i].innerHTML);
            }
        }

        // hightables.js function to create graph
        $( function () {
            var orderFrequency = getTableOrderHours();
            $('#order-freq-chart').highcharts({
                xAxis: {
                    title: {
                        text: "Time of day (24 hour format)"
                    },
                    categories: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
                },
                series: [{
                    name: "Total Orders Taken",
                    data: orderFrequency
                }],
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Lifetime Order Frequency by Hour'
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Orders Taken'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.point.y + ' orders';
                    }
                }
            });
        });
    </script>


    <script type="text/javascript">
    /* get all of the dates and total time of orders by a specific employee */
        function getEmpOrderDateTimeInfo(emp_name) {
            console.log(emp_name);
            var dateAndTimeInfo = [];
            var rows = document.getElementById('order-table-body').children;
            for (i=0; i<rows.length; i++) {
                var emp = rows[i].getElementsByClassName("emp_name")[0].innerHTML;
                if (emp_name === emp) {
                    var date = rows[i].getElementsByClassName('date')[0].innerHTML;  // get datetime of order
                    var delta = rows[i].getElementsByClassName('delta')[0].innerHTML;  // get minutes of order
                    if (delta == -1) {
                        continue; // the order was never completed, so we can't track the time. Skip it.
                    }
                    delta = parseInt($.trim(delta));
                    var mins = parseInt(delta) / 60;
                    console.log(emp + ": date: " + date + " mins: " + mins);
                    date = date.split(',');
                    var jsDate = Date.UTC(parseInt(date[0]),
                                          parseInt(date[1])-1,
                                          parseInt(date[2]),
                                          parseInt(date[3]),
                                          parseInt(date[4]));
                    console.log(jsDate);
                    dateAndTimeInfo.push([jsDate, mins]);
                }
            }
            return dateAndTimeInfo;
        }


        /* hightables.js function to create "length of time to create drinks for each employee" graph */
        $( function () {
            var seriesOptions = [], seriesCounter = 0;

            function createChart() {
                $('#emp-time-chart').highcharts('StockChart', {
                    rangeSelector: {
                        selected: 4
                    },
                    title: {
                        text: 'Order Completion Times by Employee'
                    },
                    yAxis: {

                        plotLines: [{
                            value: 0,
                            width: 2,
                            color: 'silver'
                        }]
                    },
                    plotOptions: {
                        series: {
                            compare: 'percent'
                        }
                    },
                    series: seriesOptions,
                    tooltip: {
                        pointFormat: '<span style="color:{series.color};">{series.name}</span>: {point.y:.2f} mins<br>',
                        valueDecimals: 2
                    }
                });
            }
            employees = {{ employees|safe }}; // just a list of all employees

            for (let name of employees) {
                var series = {};
                var info = getEmpOrderDateTimeInfo(name);
                console.log(info);
                series.name = name;
                series.data = info;
                seriesOptions.push(series);
                seriesCounter += 1;

                if (seriesCounter === employees.length) {
                    createChart();
                }
            }
        });


    </script>

{% endblock %}