{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style %}
{% endblock %}
{% block navtype %}fixed{% endblock %}
{% block bodyattributes %}onload="doOnce()"{% endblock %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

var activeslide = -1;

function setActiveSlide(slideno){
    document.getElementsByName("slide"+slideno).className = "item active";
    activeslide = slideno;
    doOnce();
}

function doOnce(){
$.ajax({
    url : '/api/' + {{venue.id}} + '/order/0/?format=json',
    dataType : 'json',
    type : 'GET',
    success: function(data)
    {
        var orders = ""; 
        var orderdetails = "";
        var i;
        var j;
        
        if(activeslide == -1){
            orderdetails += "\n\t<div class=\"item active\" id=\"slideInfo\"><center><h2>Select an order to begin.</h2></center></div>";
        }
        for (i = 0; i < data.length; i++) {
            orders += "<li";
            orderdetails += "\n\t\t<div class=\"item";
            if(data[i].id == activeslide){
                orderdetails += "active";
                orders+= " class=\"active\"><a onclick=\"\" href=\"#\">Order " + data[i].id + "</a></li>\n";
            }
            else{
                orders+= "><a onclick=\"setActiveSlide(" + data[i].id + ")\" href=\"#\">Order " + data[i].id + "</a></li>\n";
            }
            orderdetails += "\" id=\"slideInfo\" name=\"slide" + data[i].id + "\">\n<h2>Order: " + data[i].id + "</h2>";

            if(data[i].employee != null){
                orderdetails += "Server: " + data[i].employee.name + "<br>";
            }

            if(data[i].customer != null){
                orderdetails += "Customer: " + data[i].customer.name + "<br>";
            }

            if(data[i].items.length != 0){
                orderdetails += "<ol id=\"orderlist\">";
                for (j = 0; j < data[i].items.length; j++) {
                    orderdetails += "<li>Item " + (j+1) + ": " + data[i].items[j].name + " Status: " + data[i].items[j].status +  "</li>";
                }
                orderdetails += "</ol>";
                orderdetails += "<button type=\"button\" class=\"btn btn-success btn-lg\">Complete All</button>";
            }
            else{
                orderdetails += "<p>There are no items in this order.</p>";
                orderdetails += "<button type=\"button\" class=\"btn btn-success btn-lg disabled\">Complete All</button>";
            }

            orderdetails += "</div>";
        }
        document.getElementById("demo").innerHTML = orders;
        document.getElementById("carouselitem").innerHTML = orderdetails;

        console.log(data);
    }
});
}

setInterval(function() {
    doOnce();
}, 15000);
</script>
    <div class="container-fluid" onload="doOnce()">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <p><button type="button" class="btn btn-primary" onclick="doOnce()">Load Now</button></p>
          <ul class="nav nav-sidebar" id="demo">
            <li>Loading...</li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Order Details</h1>

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <!-- Indicators -->
            <ol class="carousel-indicators"></ol>
  
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="carouselitem">
              <div class="item active" id="slideInfo">
                <h2>Loading...</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}