{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style %}
.nav-sidebar > .old > a,
.nav-sidebar > .old > a:focus {
  color: #fff;
  background-color: #CA4247;
}
.nav-sidebar > .old > a:hover {
  color: #fff;
  background-color: #AF3A3F;
}

.nav-sidebar > .semiold > a,
.nav-sidebar > .semiold > a:focus {
  color: #fff;
  background-color: #CA7842;
}
.nav-sidebar > .semiold > a:hover {
  color: #fff;
  background-color: #AF683A;
}

.nav-sidebar > .seminew > a,
.nav-sidebar > .seminew > a:focus {
  color: #fff;
  background-color: #CAB342;
}
.nav-sidebar > .seminew > a:hover {
  color: #fff;
  background-color: #AF9B3A;
}

.nav-sidebar > .new > a,
.nav-sidebar > .new > a:focus {
  color: #fff;
  background-color: #6BCA42;
}
.nav-sidebar > .new > a:hover {
  color: #fff;
  background-color: #5DAF3A;
}

{% endblock %}
{% block navtype %}fixed{% endblock %}
{% block bodyattributes %}onload="doOnce()"{% endblock %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

var activeslide = -1;

function setActiveSlide(slideno){
    document.getElementsByName("slide"+slideno).className = "item active";
    activeslide = slideno;
    doOnce();
}

function getTimeDifference(dateInput){
    var dateNow = new Date(); 
    
    var dateOrder = new Date(dateInput.substring(0, 4), dateInput.substring(5, 7)-1,
                             dateInput.substring(8, 10), dateInput.substring(11, 13),
                             dateInput.substring(14, 16), dateInput.substring(17, 19), 0);
    var timescale = "";
    var diffMins = Math.round((dateNow - dateOrder)/ 60000)+dateNow.getTimezoneOffset();

    if(diffMins < 7){
        timescale = "new";
    } else if(diffMins >= 7 && diffMins < 14){
        timescale = "seminew";
    } else if(diffMins >= 14 && diffMins < 21){
        timescale = "semiold";
    } else{
        timescale = "old";
    }
    return timescale;
}

function doOnce(){
$.ajax({
    url : '/api/' + {{venue.id}} + '/order/0/?format=json',
    dataType : 'json',
    type : 'GET',
    success: function(data)
    {
        var orders = ""; 
        var orderdetails = "";
        var i;
        var j;
        
        if(activeslide == -1){
            orderdetails += "\n\t<div class=\"item active\" id=\"slideInfo\"><center><h2>Select an order to begin.</h2></center></div>";
        }
        for (i = 0; i < data.length; i++) {
            orders += "<li";
            orderdetails += "\n\t\t<div class=\"item";
            if(data[i].id == activeslide){
                orderdetails += "active";
                orders+= " class=\"active\"><a onclick=\"\" href=\"#\">Order " + data[i].id + "</a></li>\n";
            }
            else{
                orders+= " class=\"" + getTimeDifference(data[i].time_created) + "\"><a onclick=\"setActiveSlide(" + data[i].id + ")\" href=\"#\">Order " + data[i].id + "</a></li>\n";
            }

            orderdetails += "\" id=\"slideInfo\" name=\"slide" + data[i].id + "\">\n<h2>Order: " + data[i].id + "</h2>";

            if(data[i].employee != null){
                orderdetails += "Server: " + data[i].employee.name + "<br>";
            }

            if(data[i].customer != null){
                orderdetails += "Customer: " + data[i].customer.name + "<br>";
            }

            if(data[i].items.length != 0){
                orderdetails += "<div class=\"table-responsive\">\n";
                orderdetails += "\t<table class=\"table table-striped\">\n";
                orderdetails += "\t\t<thead>\n\t\t\t<tr>\n\t\t\t\t<th>Item #</th>\n";
                orderdetails += "\t\t\t\t<th>Item Name</th>\n\t\t\t\t<th>Quantity</th>\n";
                orderdetails += "\t\t\t\t<th>Status</th>\n\t\t\t</tr>\n\t\t</thead>\n\t<tbody>\n";
                for (j = 0; j < data[i].items.length; j++) { 
                    if(data[i].items[j].status == "incomplete"){
                        var rowcolor = " class=\"danger\"";  
                    } else{
                        var rowcolor = " class=\"success\"";
                    }        
                    orderdetails += "<tr" + rowcolor + "><td>" + (j+1) + "</td><td>" + data[i].items[j].name + "</td><td>" + data[i].items[j].quantity + "</td><td><strong class=\"text-capitalize\">" + data[i].items[j].status +  "</strong></td></tr>";
                }
                orderdetails += "\t\t</tbody>\n\t</table>\n</div>";

                orderdetails += "<button type=\"button\" class=\"btn btn-success btn-lg\">Complete All</button>";
            }
            else{
                orderdetails += "<p>There are no items in this order.</p>";
                orderdetails += "<button type=\"button\" class=\"btn btn-success btn-lg disabled\">Complete All</button>";
            }

            orderdetails += "</div>";
        }
        document.getElementById("demo").innerHTML = orders;
        document.getElementById("carouselitem").innerHTML = orderdetails;

        console.log(data);
    }
});
}

setInterval(function() {
    doOnce();
}, 15000);
</script>
    <div class="container-fluid" onload="doOnce()">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <p><button type="button" class="btn btn-primary" onclick="doOnce()">Load Now</button></p>
          <ul class="nav nav-sidebar" id="demo">
            <li>Loading...</li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Order Details</h1>

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
            <!-- Indicators -->
            <ol class="carousel-indicators"></ol>
  
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="carouselitem">
              <div class="item active" id="slideInfo">
                <h2>Loading...</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}