{% extends "base.html" %}
{% block head %}
    <style>
        .hide {
            /*display: none;*/
            visibility: hidden;
        }
    </style>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
{% endblock %}
{% block body %}
    <h1>{{ venue.name }} Reports</h1>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li id="reports_summary"><a href="{% url 'summary_report' venue.id %}">Summary</a></li>
          <li id="reports_drinks"><a href="{% url 'item_report' venue.id %}">Drinks</a></li>
          <li id="reports_orders"><a href="{% url 'order_report' venue.id %}">Orders</a></li>
          <li id="reports_employees"><a href="{% url 'employee_report' venue.id %}">Employees</a></li>
        </ul>
    </nav>
{% endblock %}
